body{
    padding: 0;
    margin: 0;
    background-image: url('quizformat/image/img-bg.png');
    background-size: cover;
    background-repeat: no-repeat
}
nav{
    background-color: #042425;
    height: 80px;
}
.titre{
	color:white;
	font-size:2.5em;
	margin-left:400px;
}
.B{
	margin-left:170px;
	
	
}
.z{
   margin-top:80px;
}
.inscription-form-body row{
	
	margin-bottom:10px;
}
           <div class="Z">
          <div id="inscription-form" class="w-50 bgWhite container rounded  text-secondary py-2" style="background-color: #fefefe">
            <div class=" inscription-form-header">
                <h1 class="h4 m-0">S'INSCRIRE</h1>     
                <p class="mb-1 ">Pour proposer un quizz</p>
                <hr class="w-50 m-0">
            </div>